.main {
  max-width: 800px;
  margin: 70px auto;
  padding: 0 10px;
  background: #ffffff13;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.result {
  text-transform: none;
  font-size: 1.5rem;
  margin: 50px 0;
}

.header {
  text-transform: uppercase;
  margin: 75px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.img-head {
  margin: 20px 0;
  font-size: 1.5rem;
  text-align: center;
  color: #f6884d;
}

img {
  width: 100%;
  height: 50%;
}

.output {
  color: #fbae3c;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.5rem;
}

.btn-15 {
  margin: 0 0 50px 0;
}

/* mobile view */
@media screen and (max-width: 800px) {
  .header {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0 20px 0;
  }

  .main {
    padding: 0;
    margin: 40px 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .img-head {
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
    color: #f6884d;
  }

  img {
    width: 100%;
    height: 50%;
  }

  .output {
    color: #fbae3c;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.5rem;
  }

  .btn-15 {
    margin: 0 0 50px 0;
  }
}
